<section class='container'>
    <div class='row-fluid box'>
        <h1><img src='/core/images/micro/logo-50.png' title='<%=APP_NAME%>'> <%=APP_NAME%></h1>
        <p><b>Source:</b> <a href='<%=APP_URL%>' target='_window'><%=APP_URL%></a></p>
        <p><b>Version:</b> <%=WORKMESH_VERSION%></p>
    </div>

    <%
    BlackStack::Pampa.jobs.each { |j|
    %>
    <div class='row-fluid box'>
        <div class='row-fluid'>
            <div class='span12'>
                <h2><%=j.name.encode_html%></h2>
                <p>Verify if a given email address is valid.</p>
            </div>
        </div>
        <div class='row-fluid'>
            <div class='span3'>
                <button class='btn btn-black btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'><%=j.total.to_label%></span>
                    <br/>
                    <b>total</b>
                </button>
            </div>
            <div class='span3'>
                <button class='btn btn-blue btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'><%=j.completed.to_label%></span>
                    <br/>
                    <b>completed</b>
                </button>
            </div>
            <div class='span3'>
                <button class='btn btn-green btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'><%=j.idle.to_label%></span>
                    <br/>
                    <b>idle</b>
                </button>
            </div>
            <div class='span3'>
                <button class='btn btn-red btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'><%=j.failed.to_label%></span>
                    <br/>
                    <b>failed</b>
                </button>
            </div>
        </div>
    </div>
    <%
    }
    %>
</section>