<section class='container'>
    <div class='row-fluid box'>
        <h1><img src='/core/images/micro/logo-50.png' title='<%=APP_NAME%>'> <%=APP_NAME%></h1>
        <p><b>Source:</b> <a href='<%=APP_URL%>' target='_window'><%=APP_URL%></a></p>
        <p><b>Version:</b> <%=WORKMESH_VERSION%></p>
    </div>

    <div class='row-fluid box'>
        <div class='span12'>
            <h2>dfyl.verify</h2>
            <p>Verify if a given email address is valid.</p>
            <br/>
        </div>
        <div class='span12'>
            <div class='span2'>
                <!-- nothing here -->
            </div>
            <div class='span3'>
                <button class='btn btn-blue btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'>4,580</span>
                    <br/>
                    <b>pending</b>
                </button>
            </div>
            <div class='span3'>
                <button class='btn btn-green btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'>4,580</span>
                    <br/>
                    <b>succeed</b>
                </button>
            </div>
            <div class='span3'>
                <button class='btn btn-red btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'>4</span>
                    <br/>
                    <b>failed</b>
                </button>
            </div>
        </div>
    </div>
</section>